.venv
.pytest_cache
__pycache__
/src/build
/src/dist
/src/ploosh.egg-info
/src/ploosh_core.egg-info
/src/ploosh/output
/src/ploosh/logs
/tests/connectors/connections/
/data
/logs
/test_cases
/output
/metastore_db
/connections.yml
spark_setup_file_tmp
*.log
